<h1>Hey, this is your crypto wallet!</h1>
<hr>
<h2>You're acessing this website at <%= br_date(Date.today) %>.</h2>
<ul>
    <li>
        <%= link_to "Register coins here!", coins_path %>
    </li>
</ul>