<p style="color: green"><%= notice %></p>
<a href=/welcome/index>Go back</a>
<h1>Coins</h1>

<div id="coins">
  <% @coins.each do |coin| %> 
    <%= render(coin) %> <!-- implicitly calling _coin.html.erb -->
    <hr>
  <% end %>
</div>

<%= link_to "New coin", new_coin_path %>